:root {

    --primary-color: #b01e24;
    --secondary-color: #ec9296;
    --header-text-color: white;
}

header {
    display: flex;
    align-items: center;
    gap: 20px;
    flex:0;
    background-color: var(--primary-color);
    color: var(--header-text-color);
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    text-align: center;
    background-color: var(--primary-color);
    position: relative;
    bottom: 0;
    color: var(--header-text-color);
}

main {
    flex-grow: 1;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}

li {
    margin-bottom: 5px;
}

.about {
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.app-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.left {
    display: flex;
    align-items: center;

}

.right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.routes {
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo {
    margin-right: 30px;
    height: 60px;
    width: auto;
}

.routes a {
    text-decoration: none;
    padding: 20px 15px;
    color: var(--header-text-color);
    border-radius: 5px;
    font-size: 20px;
    transition: color 0.1s ease;
}

.routes a:hover {
    color: #000000;
}

.routes a.active {
    color: white;
}

.title {

}

.hamburger {
    cursor: pointer;
    color: var(--header-text-color);
    font-size: 40px;
    margin-left: 30px;
}

.algorithms {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin: 0 auto;
}

.algorithms-title {
    text-align: center;
}

.algorithms-section {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 250px;
}

.algorithms-section ul{
    list-style-type: none;
}

.algorithms-links a {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    transition: color 0.1s ease;
    position: relative;
}

.algorithms-links a:active {
    color: blue;
}

.algorithms-links a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.algorithms-links a:hover::after {
    transform: scaleX(1);
}

.algorithms-links a:hover {
    color: red;
}

.animations {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px - 98px);
    overflow: hidden;
}

.animations-header {
    background-color: var(--secondary-color);
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.animations-footer {
    background-color: var(--secondary-color);
    height: 80px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.animations-main {
    flex-grow: 1;
    overflow: hidden;
}

.speed-slider {
    padding-left: 30px;
    padding-top: 10px;
}
